@import "tailwindcss";

/* Tailwind v4 권장 테마 선언 */
@theme {
    --color-primary: #32ff76;
    --color-background: #121212;
    --color-text: #ffffff;
    --font-pretendard: Pretendard, lufga, Arial, Helvetica, sans-serif;
    --font-lufga: Lufga, pretendard, Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
    @theme {
        --color-background: #0a0a0a;
        --color-text: #000000;
    }
}

body {
    font-family: Lufga, Pretendard, Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-background);
}
